<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var locations = /*[[${locations}]]*/ [];
    /*]]>*/
  </script>
  <script type="text/javascript">
    google.charts.load('current', {
      'packages': ['map'],
      'mapsApiKey': 'AIzaSyDDlrPUgoxyo4-R5t9FF_wmmr1gNBoyYQM'
    });
    google.charts.setOnLoadCallback(drawMap);

    function drawMap () {
      var data = google.visualization.arrayToDataTable([
        ['Lat', 'Long', 'Name'],
      ]);

      locations.forEach(function (location) {
        data.addRow([location.latitude, location.longitude, location.name]);
      });



      var options = {
        mapType: 'styledMap',
        zoomLevel: 12,
        showTooltip: true,
        showInfoWindow: true,
        useMapTypeControl: true,
        maps: {
          // Your custom mapTypeId holding custom map styles.
          styledMap: {
            name: 'Styled Map', // This name will be displayed in the map type control.
            styles: [
              {featureType: 'poi.attraction',
                stylers: [{color: '#fce8b2'}]
              },
              {featureType: 'road.highway',
                stylers: [{hue: '#0277bd'}, {saturation: -50}]
              },
              {featureType: 'road.highway',
                elementType: 'labels.icon',
                stylers: [{hue: '#000'}, {saturation: 100}, {lightness: 50}]
              },
              {featureType: 'landscape',
                stylers: [{hue: '#259b24'}, {saturation: 10}, {lightness: -22}]
              }
            ]}}
      };

      var map = new google.visualization.Map(document.getElementById('map_div'));
      map.draw(data,options,{
        showTooltip: true,
        showInfoWindow: true
      });
    }
  </script>
</head>
<body>
<div id="map_div" style="height: 500px; width: 900px"></div>
</body>
</html>
