<html>

<head>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDlrPUgoxyo4-R5t9FF_wmmr1gNBoyYQM&v=3.exp&libraries=visualization">
    </script>
    <script>
        /*<![CDATA[*/
        var locations = {"latitude":36.3172,"longitude":127.4292,"name":"TEST"};
        /*]]>*/
    </script>
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map_div'), {
                center: { lat: 36.3181, lng: 127.4212 }, // Set your initial center coordinates
                zoom: 12
            });

            var pathCoordinates = locations.map(function (location) {
                return { lat: location.latitude, lng: location.longitude };
            });

            var polyline = new google.maps.Polyline({
                path: pathCoordinates,
                strokeColor: '#9400D3',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            polyline.setMap(map);

            // Add markers
            locations.forEach(function (location) {
                var marker = new google.maps.Marker({
                    position: { lat: location.latitude, lng: location.longitude },
                    map: map,
                    title: location.name
                });
            });
        }
    </script>
</head>

<body>
<div id="map_div" style="height: 500px; width: 900px"></div>
<script async defer onload="initMap()"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDlrPUgoxyo4-R5t9FF_wmmr1gNBoyYQM&v=3.exp&libraries=visualization">
</script>
</body>

</html>